node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

.cursor
.claude
.replit
.vscode
.agents
.local
/.cursor
/.claude
/.replit
/.vscode
/.agents
/.local

.env
.env.local
/docs
docs
replit.md